p#yrs-win {
	margin: -20px auto -20px auto;
	width: 100%;
	font-style: italic;
	text-align: center;
	font-size: 1.5em;
	display: block;
	color: #777;
	font-family: "Helvetica Neue", Arial, sans-serif;
	text-shadow: 0 1px 0 #fff;	
}
p#textnumber {
	margin: -40px auto -19px auto;
	width: 100%;
	font-style: italic;
	text-align: center;
	font-size: 1.1em;
	display: block;
	color: #777;
	font-family: "Helvetica Neue", Arial, sans-serif;
	text-shadow: 0 1px 0 #fff;	
}
a {
	color: #09d;
}
p#suggestions {
	position: absolute;
	bottom: -3px;
	right: 12px;
	font-size: 1em;
	display: block;
	color: #777;
	font-family: "Helvetica Neue", Arial, sans-serif;
	text-shadow: 0 1px 0 #fff;
}