@font-face {
    font-family: 'WebSymbolsRegular';
    src: url('websymbols-regular-webfont.eot');
    src: url('websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('websymbols-regular-webfont.woff') format('woff'),
         url('websymbols-regular-webfont.ttf') format('truetype'),
         url('websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

body {
	background: #eee url('/static/images/background.png');
	color: #333;
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 13px;
	margin: 0;
}

header h1 {
	color: #09d;
	font-size: 48px;
	line-height: 40px;
	margin: 60px 0;
	text-align: center;
	text-shadow: 0 1px 0 #fff;
}

#content {
	margin: 0 auto;
	max-width: 780px;
}

#search {
	margin: 30px 0 60px;
	text-align: center;
}

#search p {
	margin: 0;
}

#search form input[type="text"] {
	background: #fff;
	border: 1px solid #bbb;
	border-radius: 6px;
	display: block;
	float: left;
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 36px;
	line-height: 48px;
	margin: 0;
	outline: none;
	padding: 10px;
	width: 38%;

	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;

	-webkit-appearance: none;

	-webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.2) inset,
						0 1px 0 #fff;
	-moz-box-shadow: 	0 2px 6px rgba(0,0,0,0.2) inset,
						0 1px 0 #fff;
	box-shadow: 		0 2px 6px rgba(0,0,0,0.2) inset,
						0 1px 0 #fff;
}

#search form button {
	background: #09d;
	border: 1px solid #06a;
	border-bottom: 1px solid #059;
	border-radius: 6px;
	color: #fff;
	cursor: pointer;
	display: block;
	float: left;
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 36px;
	line-height: 48px;
	margin: 0 2%;
	padding: 10px 20px;
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	width: 20%;

	background-image: linear-gradient(bottom, rgb(0,118,187) 0%, rgb(0,155,221) 100%);
	background-image: -o-linear-gradient(bottom, rgb(0,118,187) 0%, rgb(0,155,221) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(0,118,187) 0%, rgb(0,155,221) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(0,118,187) 0%, rgb(0,155,221) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(0,118,187) 0%, rgb(0,155,221) 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(0,118,187)),
		color-stop(1, rgb(0,155,221))
	);

	-webkit-box-shadow: 0 2px 6px rgba(255,255,255,0.4) inset,
						0 1px 0 rgba(255,255,255,0.4) inset,
						0 1px 0 #fff;
	-moz-box-shadow: 	0 2px 6px rgba(255,255,255,0.4) inset,
						0 1px 0 rgba(255,255,255,0.4) inset,
						0 1px 0 #fff;
	box-shadow: 		0 2px 6px rgba(255,255,255,0.4) inset,
						0 1px 0 rgba(255,255,255,0.4) inset,
						0 1px 0 #fff;
}

#score {
	font-size: 18px;
	margin: 60px 0;
	text-align: center;
	text-shadow: 0 1px 0 #fff;
}

#score p {
	margin: 0;
}

#score .congrats {
	font-size: 48px;
	font-weight: bold;
}

#score span {
	color: #09d;
	font-weight: bold;
}

#results {
	list-style: none;
	margin: 0;
	padding: 0;
}

#results .section {
	background: #fff;
	border: 1px solid #888;
	border-radius: 6px;
	margin-bottom: 60px;
	position: relative;

	-webkit-box-shadow: 0 2px 20px rgba(0,0,0,0.2);
	-moz-box-shadow: 	0 2px 20px rgba(0,0,0,0.2);
	box-shadow: 		0 2px 20px rgba(0,0,0,0.2);
}

#results .section h3 {
	background: #09d;
	border-bottom: 1px solid #059;
	border-radius: 5px 5px 0 0;
	color: #fff;
	font-size: 24px;
	line-height: 28px;
	margin: 0;
	padding: 10px;
	position: relative;
	text-align: center;
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);

	background-image: linear-gradient(bottom, rgb(0,118,187) 0%, rgb(0,155,221) 100%);
	background-image: -o-linear-gradient(bottom, rgb(0,118,187) 0%, rgb(0,155,221) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(0,118,187) 0%, rgb(0,155,221) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(0,118,187) 0%, rgb(0,155,221) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(0,118,187) 0%, rgb(0,155,221) 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(0,118,187)),
		color-stop(1, rgb(0,155,221))
	);

	-webkit-box-shadow: 0 2px 6px rgba(255,255,255,0.2) inset,
						0 1px 0 rgba(255,255,255,0.4) inset,
						0 1px 0 #fff;
	-moz-box-shadow: 	0 2px 6px rgba(255,255,255,0.2) inset,
						0 1px 0 rgba(255,255,255,0.4) inset,
						0 1px 0 #fff;
	box-shadow: 		0 2px 6px rgba(255,255,255,0.2) inset,
						0 1px 0 rgba(255,255,255,0.4) inset,
						0 1px 0 #fff;
}

#results .section .score-left,
#results .section .score-right {
	background: #06a;
	border: 1px solid #059;
	border-radius: 6px;
	color: #fff;
	font-size: 48px;
	font-weight: bold;
	left: 0;
	line-height: 50px;
	margin: 0 10px;
	padding: 10px;
	position: absolute;
	top: -10px;
	z-index: 99999;

	-webkit-box-shadow: 0 2px 20px rgba(0,0,0,0.2),
						0 1px 0 rgba(255,255,255,0.3) inset;
	-moz-box-shadow: 	0 2px 20px rgba(0,0,0,0.2),
						0 1px 0 rgba(255,255,255,0.3) inset;
	box-shadow: 		0 2px 20px rgba(0,0,0,0.2),
						0 1px 0 rgba(255,255,255,0.3) inset;
}

#results .section .score-right {
	left: auto;
	right: 0;
}

#results .section .stat {
	border-bottom: 1px solid #ccc;
	color: #444;
	line-height: 30px;
	margin: 0;
	padding: 0;
	text-align: center;
}

#results .section .stat.draw li:first-child,
#results .section .stat.draw li:last-child {
	color: #999;
	font-size: 28px;
	font-weight: bold;
}

#results .section .stat:nth-child(odd) {
	background: #f5f5f5;
}

#results .section .stat:last-child {
	border-bottom: 0;
}

#results .section .stat .win,
#results .section .stat .lose {
	font-size: 28px;
	font-weight: bold;
	position: relative;
}

#results .section .stat .win:after {
	background: #5b5;
	border: 1px solid #383;
	border-radius: 40px;
	color: #fff;
	content: ".";
	display: block;
	font-size: 16px;
	font-family: "WebSymbolsRegular";
	left: -15px;
	line-height: 27px;
	height: 27px;
	padding-top: 3px;
	position: absolute;
	top: 9px;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
	width: 30px;

	-webkit-box-shadow: 0 0 4px rgba(0,0,0,0.3),
						0 1px 0 rgba(255,255,255,0.3) inset;
	-moz-box-shadow: 	0 0 4px rgba(0,0,0,0.3),
						0 1px 0 rgba(255,255,255,0.3) inset;
	box-shadow: 		0 0 4px rgba(0,0,0,0.3),
						0 1px 0 rgba(255,255,255,0.3) inset;
}

#results .section .stat .win:last-child:after {
	right: -15px;
	left: auto;
}

#results .section .stat .win {
	color: #5b5;
}

#results .section .stat .lose {
	color: #c66;
}

#results .section .stat:last-child {
	border-radius: 0 0 6px 6px;
}

#results .section .stat li {
	border-right: 1px solid #ddd;
	display: block;
	float: left;
	padding: 10px;
	width: 40%;

	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
}

#results .section .stat li:first-child,
#results .section .stat li:last-child {
	width: 30%;
}

#results .section .stat li .units {
	color: #aaa;
	font-size: 16px;
	line-height: 24px;
	font-weight: normal;
}

#results .section .stat li:last-child {
	border-right: none;
}

#results .section .footer {
	background: #eee;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ccc;
	border-radius: 0 0 5px 5px;
	padding: 10px 5px;
}

#results .section .footer p {
	color: #777;
	margin: 0; 
	text-align: center;
}

#results .section .footer a {
	color: #777;
}

footer {
	margin: 60px 0 30px;
	text-shadow: 0 1px 0 #fff;
}

footer p {
	color: #999;
	margin: 0;
	text-align: center;
}

#settings_button {
	position: absolute;
	right: 10px;
	top: 10px;

	background: #e3e3e3;
	border: 1px solid #888;
	border-bottom: 1px solid #777;
	border-radius: 4px;
	color: #555;
	cursor: pointer;
	display: block;
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 13px;
	padding: 4px 8px;
	text-shadow: 0 1px 0 #fff; 

	background-image: linear-gradient(bottom, rgb(211,211,211) 0%, rgb(243,243,243) 100%);
	background-image: -o-linear-gradient(bottom, rgb(211,211,211) 0%, rgb(243,243,243) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(211,211,211) 0%, rgb(243,243,243) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(211,211,211) 0%, rgb(243,243,243) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(211,211,211) 0%, rgb(243,243,243) 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(211,211,211)),
		color-stop(1, rgb(243,243,243))
	);

	-webkit-box-shadow: 0 2px 6px rgba(255,255,255,0.7) inset,
						0 1px 0 rgba(255,255,255,1.0) inset,
						0 1px 0 #fff;
	-moz-box-shadow: 	0 2px 6px rgba(255,255,255,0.7) inset,
						0 1px 0 rgba(255,255,255,1.0) inset,
						0 1px 0 #fff;
	box-shadow: 		0 2px 6px rgba(255,255,255,0.7) inset,
						0 1px 0 rgba(255,255,255,1.0) inset,
						0 1px 0 #fff;
}

#settingsPanel {
	background: #ddd url('/static/images/texture.png');
	border-bottom: 1px solid #999;
	color: #777;
	padding: 20px;
	text-shadow: 0 1px 0 #fff;

	box-shadow: 0 1px 5px rgba(0,0,0,0.5) inset;
}

#settingsPanel h2 {
	color: #444;
	margin: 0 0 10px;
}

#settingsPanel ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#settingsPanel li {
	display: block;
	padding: 4px 0;
	padding-left: 38px;
	position: relative;
}

#settingsPanel li input {
	position: absolute;
	left: 0;
	top: 2px;
}

#settingsPanel input[type="checkbox"] {
    background-image: -webkit-linear-gradient(hsla(0,0%,0%,.1), hsla(0,0%,100%,.1)),
                      -webkit-linear-gradient(left, #f66 50%, #6f6 50%);
    background-size: 100% 100%, 200% 100%;
    background-position: 0 0, 5px 0;
    border-radius: 25px;
    box-shadow: inset 0 1px 4px hsla(0,0%,0%,.5),
                inset 0 0 10px hsla(0,0%,0%,.5),
                0 0 0 1px hsla(0,0%,0%,.1),
                0 -1px 2px 1px hsla(0,0%,0%,.25),
                0 2px 2px 1px hsla(0,0%,100%,.5),
                0 -2px 10px 2px hsla(0,0%,100%,.75),
                0 2px 10px 2px hsla(0,0%,0%,.25);
    cursor: pointer;
    height: 14px;
    padding-right: 10px;
    width: 28px;
    -webkit-appearance: none;
    -webkit-transition: .15s;
}

#settingsPanel input[type="checkbox"]:after {
    background-color: #eee;
    background-image: -webkit-linear-gradient(hsla(0,0%,100%,.1), hsla(0,0%,0%,.1));
    border-radius: 25px;
    box-shadow: inset 0 1px 1px 1px hsla(0,0%,100%,1),
                inset 0 -1px 1px 1px hsla(0,0%,0%,.25),
                0 1px 3px 1px hsla(0,0%,0%,.5),
                0 0 2px hsla(0,0%,0%,.25);
    content: '';
    display: block;
    height: 14px;
    left: 0;
    position: relative;
    top: 0;
    width: 10px;
}

#settingsPanel input[type="checkbox"]:checked {
    background-position: 0 0, 21px 0;
    padding-left: 18px;
    padding-right: 0;
}

#settingsPanel input[type="checkbox"]:hover:before {
    background: hsla(0,0%,0%,.25);
    border-radius: 10px;
    color: #e4ded4;
    content: '✘';
    font: 12px/20px sans-serif;
    height: 20px;
    left: 25px;
    letter-spacing: 1px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: -5px;
    width: 20px;
}

#settingsPanel input[type="checkbox"]:checked:hover:before {
    content: '✔';
}

/* Range */

#settingsPanel input[type="range"] {
    background-image: -webkit-linear-gradient(left, hsla(0,0%,100%,.1) 45%, transparent 45%),
                      -webkit-linear-gradient(hsla(0,0%,0%,.1), hsla(0,0%,100%,.1)),
                      -webkit-linear-gradient(left, #f66, #6cf);
    background-size: 3px 3px, 100% 100%, 100% 100%;
    border-radius: 25px;
    box-shadow: inset 0 1px 4px hsla(0,0%,0%,.5),
                inset 0 0 10px hsla(0,0%,0%,.5),
                0 0 0 1px hsla(0,0%,0%,.1),
                0 -1px 2px 1px hsla(0,0%,0%,.25),
                0 2px 2px 1px hsla(0,0%,100%,.5),
                0 -2px 10px 2px hsla(0,0%,100%,.75),
                0 2px 10px 2px hsla(0,0%,0%,.25);
    cursor: ew-resize;
    height: 14px;
    position: relative;
    width: 100px;
    -webkit-appearance: none;
    -webkit-transition: .15s;
}

#settingsPanel input[type="range"]::-webkit-slider-thumb {
    background-color: #eee;
    background-image: -webkit-linear-gradient(hsla(0,0%,100%,.1), hsla(0,0%,0%,.1));
    border-radius: 25px;
    box-shadow: inset 0 1px 1px 1px hsla(0,0%,100%,1),
                inset 0 -1px 1px 1px hsla(0,0%,0%,.25),
                0 1px 3px 1px hsla(0,0%,0%,.5),
                0 0 2px hsla(0,0%,0%,.25);
    content: '';
    display: block;
    height: 14px;
    left: 0;
    position: relative;
    top: 0;
    width: 10px;
    -webkit-appearance: none;
}​

.loader {
	background: url('/static/images/loader.gif');
	display: block;
	height: 48px;
	margin: 60px auto;
	width: 48px;
}
